<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head') %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <div class="jumbotron">
            <h3>Tuusula Lake Guestbook</h3>
        </div>
        <div>
            <ul>
                <% for(var user of data) {%>
                <li><%= user.username %></li>
                <li><%= user.country %></li>
                <li><%= user.message %></li>
                <li></li>
                <% } %>
            </ul>
        </div><br>


    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>